{% extends "base.html" %}
{% block content %}
    <div class="container mt-4 text-white">
        <h2 class="mb-4">{{ title }}</h2>
        <div class="card bg-dark border-secondary">
            <div class="card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="mb-3">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control bg-secondary text-white border-secondary") }}
                        </div>
                        <div class="mb-3">
                            {{ form.price.label(class="form-control-label") }}
                            {{ form.price(class="form-control bg-secondary text-white border-secondary") }}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label(class="form-control-label") }}
                            {{ form.description(class="form-control bg-secondary text-white border-secondary", rows=5) }}
                        </div>
                        <div class="mb-3">
                            {{ form.brand.label(class="form-control-label") }}
                            {{ form.brand(class="form-control bg-secondary text-white border-secondary") }}
                        </div>
                        <div class="mb-3">
                            {{ form.image_file.label(class="form-label") }}
                            {{ form.image_file(class="form-control bg-secondary text-white border-secondary") }}
                            <small class="form-text text-light">Рекомендуется соотношение сторон 1:1 (квадрат).</small>
                            {% if form.image_file.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for error in form.image_file.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group mt-4">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
